<html><body>
  
  <table><tbody><tr><th>JSON Object</th><th>Description</th><th>Type</th><th>Reference</th></tr>
    <tr><td>buyRiInfo</td>
      <td></td>
      <td>
        <p><a href="../shared/BuyRiInfo">BuyRiInfo</a></p>
      </td>
      <td>
        <p>
          <a href="../shared/BuyRiInfo.html">BuyRiInfo</a>
        </p>
      </td>
    </tr>
    <tr><td>category</td>
      <td></td>
      <td>
        <p><a href="../enums/action_category">action_category</a></p>
      </td>
      <td>
        <p>
          <a href="../enums/action_category.html">action_category</a>
        </p>
      </td>
    </tr>
    <tr><td>creationTime</td>
      <td></td>
      <td>
        <p>String</p>
      </td>
      <td>
        <p>yyyy-MM-dd'T'HH:mm:ss'Z'</p>
      </td>
    </tr>
    <tr><td>deleteInfo</td>
      <td></td>
      <td>
        <p><a href="../shared/DeleteInfo">DeleteInfo</a></p>
      </td>
      <td>
        <p>
          <a href="../shared/DeleteInfo.html">DeleteInfo</a>
        </p>
      </td>
    </tr>
    <tr><td>description</td>
      <td></td>
      <td>
        <p>String</p>
      </td>
    </tr>
    <tr><td>explanation</td>
      <td></td>
      <td>
        <p>String</p>
      </td>
    </tr>
    <tr><td>mode</td>
      <td></td>
      <td>
        <p><a href="../enums/action_mode">action_mode</a></p>
      </td>
      <td>
        <p>
          <a href="../enums/action_mode.html">action_mode</a>
        </p>
      </td>
    </tr>
    <tr><td>moveInfo</td>
      <td></td>
      <td>
        <p><a href="../shared/MoveChange">MoveChange</a></p>
      </td>
      <td>
        <p>
          <a href="../shared/MoveChange.html">MoveChange</a>
        </p>
      </td>
    </tr>
    <tr><td>oid</td>
      <td></td>
      <td>
        <p>Long</p>
      </td>
    </tr>
    <tr><td>related</td>
      <td></td>
      <td>
        <p><a href="../exporter/RelatedEntity">RelatedEntity</a></p>
      </td>
      <td>
        <p><a href="../enums/entity_type">entity_type</a></p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>
          <a href="../exporter/RelatedEntity.html">RelatedEntity</a>
        </p>
      </td>
    </tr>
    <tr><td>resizeInfo</td>
      <td></td>
      <td>
        <p><a href="../shared/CommodityChange">CommodityChange</a></p>
      </td>
      <td>
        <p>
          <a href="../shared/CommodityChange.html">CommodityChange</a>
        </p>
      </td>
    </tr>
    <tr><td>savings</td>
      <td></td>
      <td>
        <p><a href="../exporter/CostAmount">CostAmount</a></p>
      </td>
      <td>
        <p>
          <a href="../exporter/CostAmount.html">CostAmount</a>
        </p>
      </td>
    </tr>
    <tr><td>scaleInfo</td>
      <td></td>
      <td>
        <p><a href="../shared/MoveChange">MoveChange</a></p>
      </td>
      <td>
        <p>
          <a href="../shared/MoveChange.html">MoveChange</a>
        </p>
      </td>
    </tr>
    <tr><td>severity</td>
      <td></td>
      <td>
        <p><a href="../enums/severity">severity</a></p>
      </td>
      <td>
        <p>
          <a href="../enums/severity.html">severity</a>
        </p>
      </td>
    </tr>
    <tr><td>state</td>
      <td></td>
      <td>
        <p><a href="../enums/action_state">action_state</a></p>
      </td>
      <td>
        <p>
          <a href="../enums/action_state.html">action_state</a>
        </p>
      </td>
    </tr>
    <tr><td>target</td>
      <td></td>
      <td>
        <p><a href="../shared/ActionImpactedEntity">ActionImpactedEntity</a></p>
      </td>
      <td>
        <p>
          <a href="../shared/ActionImpactedEntity.html">ActionImpactedEntity</a>
        </p>
      </td>
    </tr>
    <tr><td>type</td>
      <td></td>
      <td>
        <p><a href="../enums/action_type">action_type</a></p>
      </td>
      <td>
        <p>
          <a href="../enums/action_type.html">action_type</a>
        </p>
      </td>
    </tr>
  </tbody></table>
</body></html>