<html><body>
  
  <table><tbody><tr><th>JSON Object</th><th>Description</th><th>Type</th></tr>
    <tr><td>capacity</td>
      <td></td>
      <td>
        <p>Double</p>
      </td>
    </tr>
    <tr><td>consumed</td>
      <td></td>
      <td>
        <p>Double</p>
      </td>
    </tr>
    <tr><td>current</td>
      <td></td>
      <td>
        <p>Double</p>
      </td>
    </tr>
    <tr><td>utilization</td>
      <td></td>
      <td>
        <p>Double</p>
      </td>
    </tr>
  </tbody></table>
</body></html>