<html><body>
  
  <table><tbody><tr><th>JSON Object</th><th>Description</th><th>Type</th><th>Reference</th></tr>
    <tr><td>accountExpenses</td>
      <td></td>
      <td>
        <p><a href="../exporter/AccountExpenses">AccountExpenses</a></p>
      </td>
      <td>
        <p>
          <a href="../exporter/AccountExpenses.html">AccountExpenses</a>
        </p>
      </td>
    </tr>
    <tr><td>attrs</td>
      <td></td>
      <td>
        <p><a href="../shared/entity.attrs">entity.attrs</a></p>
      </td>
      <td>
        <p>
          <a href="../shared/entity.attrs.html">entity.attrs</a>
        </p>
      </td>
    </tr>
    <tr><td>cost</td>
      <td></td>
      <td>
        <p><a href="../exporter/EntityCost">EntityCost</a></p>
      </td>
      <td>
        <p>
          <a href="../exporter/EntityCost.html">EntityCost</a>
        </p>
      </td>
    </tr>
    <tr><td>environment</td>
      <td></td>
      <td>
        <p><a href="../enums/environment_type">environment_type</a></p>
      </td>
      <td>
        <p>
          <a href="../enums/environment_type.html">environment_type</a>
        </p>
      </td>
    </tr>
    <tr><td>metric</td>
      <td></td>
      <td>
        <p><a href="../exporter/Commodity">Commodity</a></p>
      </td>
      <td>
        <p><a href="../enums/metric_type">metric_type</a></p>
      </td>
      <td>
        <p>
          <a href="../exporter/Commodity.html">Commodity</a>
        </p>
      </td>
    </tr>
    <tr><td>name</td>
      <td></td>
      <td>
        <p>String</p>
      </td>
    </tr>
    <tr><td>oid</td>
      <td></td>
      <td>
        <p>Long</p>
      </td>
    </tr>
    <tr><td>related</td>
      <td></td>
      <td>
        <p><a href="../exporter/RelatedEntity">RelatedEntity</a></p>
      </td>
      <td>
        <p><a href="../enums/entity_type">entity_type</a></p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>
          <a href="../exporter/RelatedEntity.html">RelatedEntity</a>
        </p>
      </td>
    </tr>
    <tr><td>state</td>
      <td></td>
      <td>
        <p><a href="../enums/entity_state">entity_state</a></p>
      </td>
      <td>
        <p>
          <a href="../enums/entity_state.html">entity_state</a>
        </p>
      </td>
    </tr>
    <tr><td>type</td>
      <td></td>
      <td>
        <p><a href="../enums/entity_type">entity_type</a></p>
      </td>
      <td>
        <p>
          <a href="../enums/entity_type.html">entity_type</a>
        </p>
      </td>
    </tr>
  </tbody></table>
</body></html>