<html><body>
  
  <table><tbody><tr><th>JSON Object</th><th>Description</th><th>Type</th><th>MapKeyType</th><th>Reference</th></tr>
    <tr><td>category</td>
      <td></td>
      <td>
        <p><a href="../exporter/CostByCategory">CostByCategory</a></p>
      </td>
      <td>
        <p><a href="../enums/cost_category">cost_category</a></p>
      </td>
      <td>
        <p>
          <a href="../exporter/CostByCategory.html">CostByCategory</a>
        </p>
      </td>
    </tr>
    <tr><td>total</td>
      <td></td>
      <td>
        <p>Float</p>
      </td>
    </tr>
    <tr><td>unit</td>
      <td></td>
      <td>
        <p>String</p>
      </td>
    </tr>
  </tbody></table>
</body></html>