<html><body>
  
  <table><tbody><tr><th>JSON Object</th><th>Description</th><th>Type</th><th>Reference</th></tr>
    <tr><td>attrs</td>
      <td></td>
      <td>
        <p><a href="../shared/group.attrs">group.attrs</a></p>
      </td>
      <td>
        <p>
          <a href="../shared/group.attrs.html">group.attrs</a>
        </p>
      </td>
    </tr>
    <tr><td>name</td>
      <td></td>
      <td>
        <p>String</p>
      </td>
    </tr>
    <tr><td>oid</td>
      <td></td>
      <td>
        <p>Long</p>
      </td>
    </tr>
    <tr><td>type</td>
      <td></td>
      <td>
        <p><a href="../enums/entity_type">entity_type</a></p>
      </td>
      <td>
        <p>
          <a href="../enums/entity_type.html">entity_type</a>
        </p>
      </td>
    </tr>
  </tbody></table>
</body></html>