<html><body>
  
  <table><tbody><tr><th>Data Object</th><th>Description</th><th>Type</th></tr>
    <tr><td>capacity</td>
      <td></td>
      <td>
        <p>float</p>
      </td>
    </tr>
    <tr><td>percentileUtilization</td>
      <td></td>
      <td>
        <p>Double</p>
      </td>
    </tr>
    <tr><td>used</td>
      <td></td>
      <td>
        <p>float</p>
      </td>
    </tr>
    <tr><td>utilization</td>
      <td></td>
      <td>
        <p>float</p>
      </td>
    </tr>
  </tbody></table>
</body></html>