<html><body>
  
  <table><tbody><tr><th>Data Object</th><th>Description</th><th>Type</th><th>Format</th></tr>
    <tr><td>filePath</td>
      <td></td>
      <td>
        <p>String</p>
      </td>
      <td></td>
    </tr>
    <tr><td>fileSize</td>
      <td></td>
      <td>
        <p>Double</p>
      </td>
      <td></td>
    </tr>
    <tr><td>lastModifiedTimestamp</td>
      <td></td>
      <td>
        <p>String</p>
      </td>
      <td>
        <p>yyyy-MM-dd'T'HH:mm:ss'Z'</p>
      </td>
    </tr>
    <tr><td>unattachedDays</td>
      <td></td>
      <td>
        <p>Integer</p>
      </td>
      <td></td>
    </tr>
    <tr><td>unit</td>
      <td></td>
      <td>
        <p>String</p>
      </td>
      <td></td>
    </tr>
  </tbody></table>
</body></html>