<html><body>
  
  <table><tbody><tr><th>Data Object</th><th>Description</th><th>Type</th><th>SupportedEntityTypes</th><th>Repeated</th><th>Reference</th></tr>
    <tr><td>attachment_state</td>
      <td>
        <p>Whether a given volume is attached or unattached.</p>
      </td>
      <td>
        <p><a href="../enums/AttachmentState">AttachmentState</a></p>
      </td>
      <td>
        <p>VIRTUAL_VOLUME</p>
      </td>
      <td></td>
      <td>
        <p>
          <a href="../enums/AttachmentState.html">AttachmentState</a>
        </p>
      </td>
    </tr>
    <tr><td>connected_networks</td>
      <td>
        <p>A list of network names that a given VM is connected to.</p>
      </td>
      <td>
        <p>MULTI_TEXT</p>
      </td>
      <td>
        <p>VIRTUAL_MACHINE</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td></td>
    </tr>
    <tr><td>cpu_model</td>
      <td>
        <p>For a physical host, the model of CPU on that host.</p>
      </td>
      <td>
        <p>TEXT</p>
      </td>
      <td>
        <p>PHYSICAL_MACHINE</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>guest_os_name</td>
      <td>
        <p>The name of the OS running on a given VM.</p>
      </td>
      <td>
        <p>TEXT</p>
      </td>
      <td>
        <p>VIRTUAL_MACHINE</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>guest_os_type</td>
      <td>
        <p>The specific type for the OS running on a given VM.</p>
      </td>
      <td>
        <p><a href="../enums/OSType">OSType</a></p>
      </td>
      <td>
        <p>VIRTUAL_MACHINE</p>
      </td>
      <td></td>
      <td>
        <p>
          <a href="../enums/OSType.html">OSType</a>
        </p>
      </td>
    </tr>
    <tr><td>is_local</td>
      <td>
        <p>Whether a storage is local to the machine, or networked.</p>
      </td>
      <td>
        <p>BOOLEAN</p>
      </td>
      <td>
        <p>STORAGE</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>model</td>
      <td>
        <p>The specific model of the given physical host.</p>
      </td>
      <td>
        <p>TEXT</p>
      </td>
      <td>
        <p>PHYSICAL_MACHINE</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>num_cpus</td>
      <td>
        <p>The number of CPUs on the given physical host.</p>
      </td>
      <td>
        <p>NUMBER</p>
      </td>
      <td>
        <p>PHYSICAL_MACHINE</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>tags</td>
      <td>
        <p>A list of tags that are assigned to the given entity.</p>
      </td>
      <td>
        <p>TEXT_MULTIMAP (Embedded Reporting) or List (Data Exporter)</p>
      </td>
      <td>
        <p>ALL</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>targets</td>
      <td>
        <p>The target that manages the given entity.</p>
      </td>
      <td>
        <p><a href="../shared/Target">Target</a></p>
      </td>
      <td>
        <p>ALL</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>
          <a href="../shared/Target.html">Target</a>
        </p>
      </td>
    </tr>
    <tr><td>timezone</td>
      <td>
        <p>The timezone that is set for the clock on the physical machine.</p>
      </td>
      <td>
        <p>TEXT</p>
      </td>
      <td>
        <p>PHYSICAL_MACHINE</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>vendor_id</td>
      <td></td>
      <td>
        <p>TEXT</p>
      </td>
      <td>
        <p>VIRTUAL_VOLUME,BUSINESS_ACCOUNT</p>
      </td>
      <td>
        <p>Reference</p>
      </td>
    </tr>
  </tbody></table>
</body></html>