<html><body>
  
  <table><tbody><tr><th>Data Object</th><th>Description</th><th>Type</th><th>Repeated</th><th>Reference</th><th>SupportedEntityTypes</th><th>SupportedGroupTypes</th></tr>
    <tr><td>dynamic</td>
      <td></td>
      <td>
        <p>BOOLEAN</p>
      </td>
      <td></td>
      <td></td>
      <td>
        <p>STORAGE_CLUSTER,COMPUTE_CLUSTER,GROUP,K8S_CLUSTER,BILLING_FAMILY,RESOURCE_GROUP</p>
      </td>
      <td>
        <p>RESOURCE_GROUP,COMPUTE_CLUSTER,BILLING_FAMILY,GROUP,K8S_CLUSTER,STORAGE_CLUSTER</p>
      </td>
    </tr>
    <tr><td>member_types</td>
      <td></td>
      <td>
        <p>MULTI_TEXT</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td></td>
      <td>
        <p>STORAGE_CLUSTER,COMPUTE_CLUSTER,GROUP,K8S_CLUSTER,BILLING_FAMILY,RESOURCE_GROUP</p>
      </td>
      <td>
        <p>RESOURCE_GROUP,COMPUTE_CLUSTER,BILLING_FAMILY,GROUP,K8S_CLUSTER,STORAGE_CLUSTER</p>
      </td>
    </tr>
    <tr><td>origin</td>
      <td></td>
      <td>
        <p>TEXT</p>
      </td>
      <td></td>
      <td></td>
      <td>
        <p>STORAGE_CLUSTER,COMPUTE_CLUSTER,GROUP,K8S_CLUSTER,BILLING_FAMILY,RESOURCE_GROUP</p>
      </td>
      <td>
        <p>RESOURCE_GROUP,COMPUTE_CLUSTER,BILLING_FAMILY,GROUP,K8S_CLUSTER,STORAGE_CLUSTER</p>
      </td>
    </tr>
    <tr><td>tags</td>
      <td></td>
      <td>
        <p>TEXT_MULTIMAP (Embedded Reporting) or List (Data Exporter)</p>
      </td>
      <td></td>
      <td></td>
      <td>
        <p>GROUP,RESOURCE_GROUP,COMPUTE_CLUSTER,K8S_CLUSTER,STORAGE_CLUSTER,BILLING_FAMILY</p>
      </td>
      <td>
        <p>ALL</p>
      </td>
    </tr>
    <tr><td>targets</td>
      <td></td>
      <td>
        <p><a href="../shared/Target">Target</a></p>
      </td>
      <td></td>
      <td>
        <p>
          <a href="../shared/Target.html">Target</a>
        </p>
      </td>
      <td>
        <p>GROUP,RESOURCE_GROUP,COMPUTE_CLUSTER,K8S_CLUSTER,STORAGE_CLUSTER,BILLING_FAMILY</p>
      </td>
      <td>
        <p>ALL</p>
      </td>
    </tr>
  </tbody></table>
</body></html>