<html><body>
  
  <table><tbody><tr><th>Data Object</th><th>Description</th><th>Type</th><th>Repeated</th><th>Reference</th></tr>
    <tr><td>from</td>
      <td></td>
      <td>
        <p><a href="../shared/ActionImpactedEntity">ActionImpactedEntity</a></p>
      </td>
      <td></td>
      <td>
        <p>
          <a href="../shared/ActionImpactedEntity.html">ActionImpactedEntity</a>
        </p>
      </td>
    </tr>
    <tr><td>resource</td>
      <td></td>
      <td>
        <p><a href="../shared/ActionEntity">ActionEntity</a></p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>
          <a href="../shared/ActionEntity.html">ActionEntity</a>
        </p>
      </td>
    </tr>
    <tr><td>to</td>
      <td></td>
      <td>
        <p><a href="../shared/ActionImpactedEntity">ActionImpactedEntity</a></p>
      </td>
      <td></td>
      <td>
        <p>
          <a href="../shared/ActionImpactedEntity.html">ActionImpactedEntity</a>
        </p>
      </td>
    </tr>
  </tbody></table>
</body></html>