<html><body>
  
  <table><tbody><tr><th>Data Object</th><th>Description</th><th>Type</th></tr>
    <tr><td>category</td>
      <td></td>
      <td>
        <p>String</p>
      </td>
    </tr>
    <tr><td>entityVendorId</td>
      <td></td>
      <td>
        <p>String</p>
      </td>
    </tr>
    <tr><td>name</td>
      <td></td>
      <td>
        <p>String</p>
      </td>
    </tr>
    <tr><td>oid</td>
      <td></td>
      <td>
        <p>Long</p>
      </td>
    </tr>
    <tr><td>type</td>
      <td></td>
      <td>
        <p>String</p>
      </td>
    </tr>
  </tbody></table>
</body></html>