<html><body>
  
  <ul>
    <li><p><code>ACTIVATE</code>:</p>
      
    </li>
    <li><p><code>ALLOCATE</code>:</p>
      
    </li>
    <li><p><code>BUY_RI</code>:</p>
      
    </li>
    <li><p><code>DEACTIVATE</code>:</p>
      
    </li>
    <li><p><code>DELETE</code>:</p>
      
    </li>
    <li><p><code>MOVE</code>:</p>
      
    </li>
    <li><p><code>NONE</code>:</p>
      
    </li>
    <li><p><code>PROVISION</code>:</p>
      
    </li>
    <li><p><code>RECONFIGURE</code>:</p>
      
    </li>
    <li><p><code>RESIZE</code>:</p>
      
    </li>
    <li><p><code>SCALE</code>:</p>
      
    </li>
    <li><p><code>START</code>:</p>
      
    </li>
    <li><p><code>SUSPEND</code>:</p>
      
    </li>
  </ul>
</body></html>