<html><body>
  
  <ul>
    <li><p><code>ACCEPTED</code>:</p>
      
    </li>
    <li><p><code>CLEARED</code>:</p>
      
    </li>
    <li><p><code>FAILED</code>:</p>
      
    </li>
    <li><p><code>FAILING</code>:</p>
      
    </li>
    <li><p><code>IN_PROGRESS</code>:</p>
      
    </li>
    <li><p><code>POST_IN_PROGRESS</code>:</p>
      
    </li>
    <li><p><code>PRE_IN_PROGRESS</code>:</p>
      
    </li>
    <li><p><code>QUEUED</code>:</p>
      
    </li>
    <li><p><code>READY</code>:</p>
      
    </li>
    <li><p><code>REJECTED</code>:</p>
      
    </li>
    <li><p><code>SUCCEEDED</code>:</p>
      
    </li>
  </ul>
</body></html>