<html><body>
  
  <ul>
    <li><p><code>ACTION_MANAGER</code>:</p>
      
    </li>
    <li><p><code>APPLICATION</code>:</p>
      
    </li>
    <li><p><code>APPLICATION_COMPONENT</code>:</p>
      
    </li>
    <li><p><code>APPLICATION_SERVER</code>:</p>
      
    </li>
    <li><p><code>AVAILABILITY_ZONE</code>:</p>
      
    </li>
    <li><p><code>BILLING_FAMILY</code>:</p>
      
    </li>
    <li><p><code>BUSINESS</code>:</p>
      
    </li>
    <li><p><code>BUSINESS_ACCOUNT</code>:</p>
      
    </li>
    <li><p><code>BUSINESS_APPLICATION</code>:</p>
      
    </li>
    <li><p><code>BUSINESS_ENTITY</code>:</p>
      
    </li>
    <li><p><code>BUSINESS_TRANSACTION</code>:</p>
      
    </li>
    <li><p><code>BUSINESS_USER</code>:</p>
      
    </li>
    <li><p><code>CHASSIS</code>:</p>
      
    </li>
    <li><p><code>CLOUD_COMMITMENT</code>:</p>
      
    </li>
    <li><p><code>CLOUD_SERVICE</code>:</p>
      
    </li>
    <li><p><code>COMPUTE_CLUSTER</code>:</p>
      
    </li>
    <li><p><code>COMPUTE_RESOURCE</code>:</p>
      
    </li>
    <li><p><code>COMPUTE_TIER</code>:</p>
      
    </li>
    <li><p><code>CONTAINER</code>:</p>
      
    </li>
    <li><p><code>CONTAINER_PLATFORM_CLUSTER</code>:</p>
      
    </li>
    <li><p><code>CONTAINER_POD</code>:</p>
      
    </li>
    <li><p><code>CONTAINER_SPEC</code>:</p>
      
    </li>
    <li><p><code>DATABASE</code>:</p>
      
    </li>
    <li><p><code>DATABASE_SERVER</code>:</p>
      
    </li>
    <li><p><code>DATABASE_SERVER_TIER</code>:</p>
      
    </li>
    <li><p><code>DATABASE_TIER</code>:</p>
      
    </li>
    <li><p><code>DATACENTER</code>:</p>
      
    </li>
    <li><p><code>DESIRED_RESERVED_INSTANCE</code>:</p>
      
    </li>
    <li><p><code>DESKTOP_POOL</code>:</p>
      
    </li>
    <li><p><code>DISK_ARRAY</code>:</p>
      
    </li>
    <li><p><code>DISTRIBUTED_VIRTUAL_PORTGROUP</code>:</p>
      
    </li>
    <li><p><code>DPOD</code>:</p>
      
    </li>
    <li><p><code>GROUP</code>:</p>
      
    </li>
    <li><p><code>HCI_PHYSICAL_MACHINE</code>:</p>
      
    </li>
    <li><p><code>HYPERVISOR_SERVER</code>:</p>
      
    </li>
    <li><p><code>INFRASTRUCTURE</code>:</p>
      
    </li>
    <li><p><code>INTERNET</code>:</p>
      
    </li>
    <li><p><code>IO_MODULE</code>:</p>
      
    </li>
    <li><p><code>IP</code>:</p>
      
    </li>
    <li><p><code>K8S_CLUSTER</code>:</p>
      
    </li>
    <li><p><code>LICENSING_SERVICE</code>:</p>
      
    </li>
    <li><p><code>LOAD_BALANCER</code>:</p>
      
    </li>
    <li><p><code>LOGICAL_POOL</code>:</p>
      
    </li>
    <li><p><code>MAC</code>:</p>
      
    </li>
    <li><p><code>MOVER</code>:</p>
      
    </li>
    <li><p><code>NAMESPACE</code>:</p>
      
    </li>
    <li><p><code>NETWORK</code>:</p>
      
    </li>
    <li><p><code>NETWORKING_ENDPOINT</code>:</p>
      
    </li>
    <li><p><code>OPERATOR</code>:</p>
      
    </li>
    <li><p><code>PHYSICAL_MACHINE</code>:</p>
      
    </li>
    <li><p><code>PORT</code>:</p>
      
    </li>
    <li><p><code>PROCESSOR_POOL</code>:</p>
      
    </li>
    <li><p><code>REGION</code>:</p>
      
    </li>
    <li><p><code>RESERVED_INSTANCE</code>:</p>
      
    </li>
    <li><p><code>RESERVED_INSTANCE_SPECIFICATION</code>:</p>
      
    </li>
    <li><p><code>RESOURCE_GROUP</code>:</p>
      
    </li>
    <li><p><code>RIGHT_SIZER</code>:</p>
      
    </li>
    <li><p><code>SAVINGS</code>:</p>
      
    </li>
    <li><p><code>SERVICE</code>:</p>
      
    </li>
    <li><p><code>SERVICE_ENTITY_TEMPLATE</code>:</p>
      
    </li>
    <li><p><code>SERVICE_PROVIDER</code>:</p>
      
    </li>
    <li><p><code>STORAGE</code>:</p>
      
    </li>
    <li><p><code>STORAGE_CLUSTER</code>:</p>
      
    </li>
    <li><p><code>STORAGE_CONTROLLER</code>:</p>
      
    </li>
    <li><p><code>STORAGE_TIER</code>:</p>
      
    </li>
    <li><p><code>STORAGE_VOLUME</code>:</p>
      
    </li>
    <li><p><code>SWITCH</code>:</p>
      
    </li>
    <li><p><code>TARGET</code>:</p>
      
    </li>
    <li><p><code>THIS_ENTITY</code>:</p>
      
    </li>
    <li><p><code>THREE_TIER_APPLICATION</code>:</p>
      
    </li>
    <li><p><code>VIEW_POD</code>:</p>
      
    </li>
    <li><p><code>VIRTUAL_APPLICATION</code>:</p>
      
    </li>
    <li><p><code>VIRTUAL_DATACENTER</code>:</p>
      
    </li>
    <li><p><code>VIRTUAL_MACHINE</code>:</p>
      
    </li>
    <li><p><code>VIRTUAL_VOLUME</code>:</p>
      
    </li>
    <li><p><code>VLAN</code>:</p>
      
    </li>
    <li><p><code>VM_SPEC</code>:</p>
      
    </li>
    <li><p><code>VPOD</code>:</p>
      
    </li>
    <li><p><code>WEB_SERVER</code>:</p>
      
    </li>
    <li><p><code>WORKLOAD_CONTROLLER</code>:</p>
      
    </li>
    <li><p><code>_NONE_</code>:</p>
      
    </li>
    <li><p><code>NODE_POOL</code>:</p>
      
    </li>
  </ul>
</body></html>