<html><body>
  
  <ul>
    <li><p><code>LINUX</code>:</p>
      
    </li>
    <li><p><code>LINUX_WITH_SQL_ENTERPRISE</code>:</p>
      
    </li>
    <li><p><code>LINUX_WITH_SQL_STANDARD</code>:</p>
      
    </li>
    <li><p><code>LINUX_WITH_SQL_WEB</code>:</p>
      
    </li>
    <li><p><code>RHEL</code>:</p>
      
    </li>
    <li><p><code>SUSE</code>:</p>
      
    </li>
    <li><p><code>UNKNOWN_OS</code>:</p>
      
    </li>
    <li><p><code>WINDOWS</code>:</p>
      
    </li>
    <li><p><code>WINDOWS_BYOL</code>:</p>
      
    </li>
    <li><p><code>WINDOWS_WITH_SQL_ENTERPRISE</code>:</p>
      
    </li>
    <li><p><code>WINDOWS_WITH_SQL_STANDARD</code>:</p>
      
    </li>
    <li><p><code>WINDOWS_WITH_SQL_WEB</code>:</p>
      
    </li>
    <li><p><code>UBUNTU_PRO</code>:</p>
      
    </li>
  </ul>
</body></html>