<html><body>
  
  <ul>
    <li><p><code>MISSED_INVESTMENTS</code>:</p>
      
        <p>Actions you could have taken that would inscrease your investment to provide more resources to your applications.</p>
      
    </li>
    <li><p><code>MISSED_SAVINGS</code>:</p>
      
        <p>Actions you could have taken that could have reduced your costs.</p>
      
    </li>
    <li><p><code>REALIZED_INVESTMENTS</code>:</p>
      
        <p>Actions you have taken that inscrease your investment to provide more resources to your applications.</p>
      
    </li>
    <li><p><code>REALIZED_SAVINGS</code>:</p>
      
        <p>Actions you have taken that have reduced your costs.</p>
      
    </li>
  </ul>
</body></html>