<html><body>
  
  <table><tbody><tr><th>Data Object</th><th>Type</th><th>Nullable</th><th>Primary</th><th>Description</th><th>Reference</th></tr>
    <tr><td>time</td>
      <td>
        <p>timestamp with time zone</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>account_oid</td>
      <td>
        <p>bigint</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>cloud_service_oid</td>
      <td>
        <p>bigint</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>cost</td>
      <td>
        <p>real</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td></td>
    </tr>
  </tbody></table>
</body></html>