<html><body>
  
  <table><tbody><tr><th>Data Object</th><th>Type</th><th>Nullable</th><th>Primary</th><th>Description</th><th>Reference</th></tr>
    <tr><td>oid</td>
      <td>
        <p>bigint</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>hash</td>
      <td>
        <p>bigint</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>type</td>
      <td>
        <p>enum</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td>
        <p>
          <a href="../enums/entity_type.html">entity_type</a>
        </p>
      </td>
    </tr>
    <tr><td>name</td>
      <td>
        <p>text</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>environment</td>
      <td>
        <p>enum</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td>
        <p>
          <a href="../enums/environment_type.html">environment_type</a>
        </p>
      </td>
    </tr>
    <tr><td>state</td>
      <td>
        <p>enum</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td>
        <p>
          <a href="../enums/entity_state.html">entity_state</a>
        </p>
      </td>
    </tr>
    <tr><td>attrs</td>
      <td>
        <p>jsonb</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>scope</td>
      <td>
        <p>bigint[]</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>first_seen</td>
      <td>
        <p>timestamp with time zone</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>last_seen</td>
      <td>
        <p>timestamp with time zone</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td></td>
    </tr>
  </tbody></table>
</body></html>