<html><body>
  
  <table><tbody><tr><th>Data Object</th><th>Type</th><th>Nullable</th><th>Primary</th><th>Description</th><th>Reference</th></tr>
    <tr><td>volume_oid</td>
      <td>
        <p>bigint</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>path</td>
      <td>
        <p>text</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>The path to the file.</p>
      </td>
      <td></td>
    </tr>
    <tr><td>type</td>
      <td>
        <p>enum</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>The file type.</p>
      </td>
      <td>
        <p>
          <a href="../enums/file_type.html">file_type</a>
        </p>
      </td>
    </tr>
    <tr><td>file_size_kb</td>
      <td>
        <p>bigint</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>The file size in kb.</p>
      </td>
      <td></td>
    </tr>
    <tr><td>modification_time</td>
      <td>
        <p>timestamp with time zone</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>Whn the file was last modified.</p>
      </td>
      <td></td>
    </tr>
    <tr><td>storage_oid</td>
      <td>
        <p>bigint</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>is_attached</td>
      <td>
        <p>boolean</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>hash</td>
      <td>
        <p>bigint</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td></td>
    </tr>
  </tbody></table>
</body></html>