<html><body>
  
  <table><tbody><tr><th>Data Object</th><th>Type</th><th>Nullable</th><th>Primary</th><th>Description</th><th>Reference</th></tr>
    <tr><td>time</td>
      <td>
        <p>timestamp with time zone</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>When analysis discovered thIS metric. For headroom metrics, when the headroom plan was created.</p>
      </td>
      <td></td>
    </tr>
    <tr><td>entity_oid</td>
      <td>
        <p>bigint</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>The ID of the entity this metric pertains to.</p>
      </td>
      <td></td>
    </tr>
    <tr><td>type</td>
      <td>
        <p>enum</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>The metric type.</p>
      </td>
      <td>
        <p>
          <a href="../enums/metric_type.html">metric_type</a>
        </p>
      </td>
    </tr>
    <tr><td>provider_oid</td>
      <td>
        <p>bigint</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>The ID of the entity that provides this metric. For example, for VMem, the ID of the host that provides the memory.</p>
      </td>
      <td></td>
    </tr>
    <tr><td>key</td>
      <td>
        <p>text</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>The commodity key. This value can be null if no key is present.</p>
      </td>
      <td></td>
    </tr>
    <tr><td>current</td>
      <td>
        <p>double precision</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>Current utilization of commodity in provider entity.</p>
      </td>
      <td></td>
    </tr>
    <tr><td>capacity</td>
      <td>
        <p>double precision</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>The capacity of the commodity in the provider entity.</p>
      </td>
      <td></td>
    </tr>
    <tr><td>utilization</td>
      <td>
        <p>double precision</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>Overall utilization of the commodity in the provider entity.</p>
      </td>
      <td></td>
    </tr>
    <tr><td>consumed</td>
      <td>
        <p>double precision</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>Amount of commodity currently used by consumer entity.</p>
      </td>
      <td></td>
    </tr>
    <tr><td>peak_current</td>
      <td>
        <p>double precision</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>Peak amount of current used commodity in the provider entity.</p>
      </td>
      <td></td>
    </tr>
    <tr><td>peak_consumed</td>
      <td>
        <p>double precision</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>Peak amount of commodity currently used by the consumer entity.</p>
      </td>
      <td></td>
    </tr>
    <tr><td>entity_type</td>
      <td>
        <p>enum</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>The type of the consumer entity.</p>
      </td>
      <td>
        <p>
          <a href="../enums/entity_type.html">entity_type</a>
        </p>
      </td>
    </tr>
  </tbody></table>
</body></html>