<html><body>
  
  <table><tbody><tr><th>Data Object</th><th>Type</th><th>Nullable</th><th>Primary</th><th>Description</th><th>Reference</th></tr>
    <tr><td>time</td>
      <td>
        <p>timestamp with time zone</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>entity_oid</td>
      <td>
        <p>bigint</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>entity_hash</td>
      <td>
        <p>bigint</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>type</td>
      <td>
        <p>enum</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td>
        <p>
          <a href="../enums/metric_type.html">metric_type</a>
        </p>
      </td>
    </tr>
    <tr><td>current</td>
      <td>
        <p>double precision</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>capacity</td>
      <td>
        <p>double precision</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>utilization</td>
      <td>
        <p>double precision</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>consumed</td>
      <td>
        <p>double precision</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>provider_oid</td>
      <td>
        <p>bigint</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr><td>key</td>
      <td>
        <p>text</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td></td>
      <td></td>
    </tr>
  </tbody></table>
</body></html>