<html><body>
  
  <table><tbody><tr><th>Data Object</th><th>Type</th><th>Nullable</th><th>Primary</th><th>Description</th><th>Reference</th></tr>
    <tr><td>check_name</td>
      <td>
        <p>text</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>The display name of the health check.</p>
      </td>
      <td></td>
    </tr>
    <tr><td>passed</td>
      <td>
        <p>boolean</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>Whether the health check passed or failed.</p>
      </td>
      <td></td>
    </tr>
    <tr><td>messages</td>
      <td>
        <p>text[]</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>The text description of the health check results.</p>
      </td>
      <td></td>
    </tr>
  </tbody></table>
</body></html>