<html><body>
  
  <table><tbody><tr><th>Data Object</th><th>Type</th><th>Nullable</th><th>Primary</th><th>Description</th><th>Reference</th></tr>
    <tr><td>path</td>
      <td>
        <p>text</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>The file path.</p>
      </td>
      <td></td>
    </tr>
    <tr><td>file_size_kb</td>
      <td>
        <p>bigint</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>The file size.</p>
      </td>
      <td></td>
    </tr>
    <tr><td>modification_time</td>
      <td>
        <p>timestamp with time zone</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>When the file was last modified.</p>
      </td>
      <td></td>
    </tr>
    <tr><td>storage_oid</td>
      <td>
        <p>bigint</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>The ID of the storage that contains the file.</p>
      </td>
      <td></td>
    </tr>
    <tr><td>storage_name</td>
      <td>
        <p>text</p>
      </td>
      <td>
        <p>True</p>
      </td>
      <td>
        <p>False</p>
      </td>
      <td>
        <p>The name of the storage (denormalized for reporting).</p>
      </td>
      <td></td>
    </tr>
  </tbody></table>
</body></html>